html .jumbotron {
background: url(#{resource['layout:images/food/food-slider.jpg']}) repeat center top;
}


html .jumbotron2 {
background: url(#{resource['layout:images/food/background.jpg']}) repeat center top;
min-height:400px;
}


html .recipe h6 {
	margin-top:5px;
	margin-bottom:3px;
}


html .recipe img {
	z-index:100;
}

html .recipe-img-caption {
	margin-right:20px;
	position:absolute;
	bottom:15px;
	right:0;
}



html .recipe-logo-lg {
	background-color:#71a866;
	display: inline-block;
	color: #fff;
	border-radius: 50%;
	padding: 5px 9px;
	font-size: 22px;
	width: 40px;
	height: 40px;
	text-shadow: 0 2px 5px rgba(65,60,53,.25);
	z-index:500;
}


html .jumbotron2 .jumbotron__container {
	color: #f3f2eb;
	text-align:left;
	padding:2% 0;
}


html .jumbotron2 .jumbotron__container h3{
	color: #f3f2eb;
	font-size:36px;
	margin: 5% 0;
}

.top__menu .nav-pills li{
	padding: 7px 0;
}