html .jumbotron {
background: url(#{resource['layout:images/food/food-slider.jpg']}) repeat center top;
}


html .jumbotron2 {
background: url(#{resource['layout:images/food/background.jpg']}) repeat center top;
min-height:400px;
}


html .recipe h6 {
	margin-top:5px;
	margin-bottom:3px;
}


html .recipe img {
	z-index:100;
}

html .recipe-img-caption {
	margin-right:20px;
	position:absolute;
	bottom:15px;
	right:0;
}

.top__menu{
	padding-top: 4px;
	padding-bottom: 4px;
}



html .recipe-logo-lg {
	background-color:#71a866;
	display: inline-block;
	color: #fff;
	border-radius: 50%;
	padding: 5px 9px;
	font-size: 22px;
	width: 40px;
	height: 40px;
	text-shadow: 0 2px 5px rgba(65,60,53,.25);
	z-index:500;
}


html .jumbotron__container {
	color: #f3f2eb;
	text-align:center;
	padding:2% 0;
}


html  .jumbotron__container h3{
	color: #f3f2eb;
	font-size:36px;
	margin: 5% 0;
}

html p.jumbtron-content {
	background: rgba(243,242,235,.90);
	padding:10px;
	color:#413c35;
}

html .jumbotron__container h4 {
	color:#f3f2eb;
}

html .sp-produzent,
html .sp-bewertung {
	padding: 10px 15px;
}

html .video {padding-bottom:15px;}


.image-best-thumb .widgets__products{
	width: 78px;
}