html .jumbotron {
background: url(#{resource['layout:images/food/food-slider.jpg']}) repeat center top;
}


html .jumbotron2 {
background: url(#{resource['layout:images/food/background.jpg']}) repeat center top;
min-height:400px;
}


html .recipe h6 {
	margin-top:5px;
	margin-bottom:3px;
}


html .recipe img {
	z-index:100;
}

html .recipe-img-caption {
	margin-right:20px;
	position:absolute;
	bottom:15px;
	right:0;
}

.top__menu{
	padding-top: 4px;
	padding-bottom: 4px;
}



html .recipe-logo-lg {
	background-color:#71a866;
	display: inline-block;
	color: #fff;
	border-radius: 50%;
	padding: 5px 9px;
	font-size: 22px;
	width: 40px;
	height: 40px;
	text-shadow: 0 2px 5px rgba(65,60,53,.25);
	z-index:500;
}


html .jumbotron__container {
	color: #f3f2eb;
	text-align:center;
	padding:2% 0;
}


html  .jumbotron__container h3{
	color: #f3f2eb;
	font-size:36px;
	margin: 5% 0;
}

html p.jumbtron-content {
	background: rgba(243,242,235,.90);
	padding:10px;
	color:#413c35;
}

html .jumbotron__container h4 {
	color:#f3f2eb;
}

html .sp-produzent,
html .sp-bewertung {
	padding: 10px 15px;
}

html .video {padding-bottom:15px;}


.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.products__title {
/**min-height: 28px;**/
}


.image-best-thumb .widgets__products{
	width: 78px;
}
.header-cart__product-image{
	line-height: 50px;
}
.header-cart__product-image img{
	width: 40px;
	max-height: 50px;
}
.nav-sidebar-menu a.active{
	background: #fff;
	color: #222;
	position: relative;
	border-left: 2px solid #71a866;
}
.notyTheme {
            overflow: hidden;
            border: 0px solid #413c35;
            box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
            position: relative;
            background-color: #71a866;
            padding:8px;
            margin:5px;
            margin-right:20px;
            border-radius: 5px;
            color: #ffffff !important;
}

html.no-touch .product-overlay__more {
display: block;
position: absolute;
color: #e5e5dc;
font-size: 30px;;
background:none;
height: 100%;
width: 100%;
padding-top:48%;
text-align:center;
border-radius: 2px;
top: 0;
margin-top: 0;
right: 0;
margin-right: 0;
-webkit-transition: all .1s linear;
transition: all .1s linear;
}

html.no-touch .product-overlay__more span {display:none;}

.procducts__title_short {
overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap; }

.recipe__title {
overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  height: 50px;	
}